<mat-card class="product-card">
  <mat-card-content>
    <form>
      <h3>Genero</h3>
      <section class="filter-section">
        <mat-checkbox>Masculino</mat-checkbox>
        <mat-checkbox>Femenino</mat-checkbox>
      </section>
      <h3>Colores</h3>
      <section class="filter-section">
        <mat-checkbox>Blanco</mat-checkbox>
        <mat-checkbox>Negro</mat-checkbox>
      </section>
      <h3>Precio</h3>
      <section class="filter-section">
          <mat-slider
          thumbLabel
          tickInterval="5"
          min="1"
          max="100"></mat-slider>
      </section>
    </form>
  </mat-card-content>
</mat-card>
