/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 20px;
}

.row{
  display: flex;
}

.row-2{
  width: 28%;
  margin: 0px 1%;
  box-sizing: border-box;
}

.row-8{
  width: 78%;
  margin: 0px 1%;
  box-sizing: border-box;
}

.row-6{
  width: 48%;
  margin: 0px 1%;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}